.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 15, 31);
  color: rgb(173, 173, 173)
}
 
.outlet {
  margin-top: 80px;
}
.enlarge-on-hover:hover {
  transition: .2s;
<<<<<<< HEAD
  transform: scale(1.15);
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
=======
  transform: scale(1.25);
>>>>>>> 3d01abd3c620998113cdce4174a35a8303ce87fc
}